<div align="center">
<form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm" method="post">
    <mat-form-field appearance="fill">
      <mat-label>username</mat-label>
      <input matInput name="username" ngModel>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input matInput name="password" ngModel>
    </mat-form-field>
  
   <br>
    <button mat-raised-button color="primary" class="button" type="submit">Login</button>
    
    <button mat-raised-button color="primary" class="button" type="button" (click)="routetosignup()">Signup Page</button>

  </form>

</div>


<router-outlet></router-outlet>